# External notification API credentials
NOTIFICATION_API_TOKEN=Bearer <YOUR_API_TOKEN_HERE>
NOTIFICATION_API_URL=http://4.224.186.213/evaluation-service/notifications
PORT=4000

# MongoDB configuration
MONGODB_URI=mongodb://localhost:27017/notification_service
VEHICLE_PORT=5001
DEPOT_API_URL=http://4.224.186.213/evaluation-service/depots
VEHICLES_API_URL=http://4.224.186.213/evaluation-service/vehicles
